.second_menu{
	div{
		div{
			padding:0;
		}
	}
}
.is_activate {
	div{
		color:rgb(255, 64, 129)
	}
}
#menu{
	border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgb(224, 224, 224);
}