#menu{
	width:150px;
	position: fixed;
	overflow: auto;
	height:100%;
	top:60px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
#content{
	padding-left: 180px;
	width: 1280px;
	margin: 0 50px;
	text-align: center;
	margin-top: 60px;
	// box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
#header{
	height: 60px;
	background-color: #00bcd4;
	position: fixed;
	top:0;
	width: 100%;
	z-index:1000;
	.logo{
		background-image: url("./img/main.png");
		background-position: 0 -117px;
	    background-repeat: no-repeat;
	    overflow: hidden;
	    display: block;
	    width: 222px;
	    height: 60px;
	}
}
.btn-link{
	color:#337ab7;
}
td{
	border: 1px solid #ccc;
}
tr:first-child th{
	border:0
}
